.cards-container {
  position  : relative;
  width     : 100%;
  height    : 100%;
  background: linear-gradient(to right bottom, #9e66c6, #6027e1);
}

.card {
  position      : absolute;
  width         : 100%;
  height        : 100%;
  left          : 100%;
  transition    : left 1s;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  padding       : 60px 36px;
  color         : #fff;
}

.card.go-to-left {
  left   : -100%;
  z-index: 1;
}

.card.go-to-right {
  left   : 100%;
  z-index: 1;
}

.card.active {
  z-index: 2;
  left   : 0;
}

.icon-container {
  width           : 110px;
  height          : 110px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius   : 50%;
  font-size       : 3em;
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin-bottom   : 28px;
}

.title {
  font-size     : 1.2em;
  padding-left  : 16px;
  padding-right : 16px;
  font-weight   : bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom : 20px;
  text-align    : center;
  line-height   : 30px;
}

.description {
  text-align    : center;
  font-size     : 0.9em;
  letter-spacing: 0.5px;
  line-height   : 22px;
  color         : rgba(255, 255, 255, 0.8);
}